In [1]:
import pandas as pd

In [2]:
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df1 = books.merge(ratings,how="left", on="ISBN")
df= df1.merge(users,how="left", on="User-ID")


df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0,"sudbury, ontario, canada",NaN

In [4]:
df.drop(columns=["Image-URL-S","Image-URL-M",'Location','Age','Year-Of-Publication','Publisher'],inplace=True)
df

,ISBN,Book-Title,Book-Author,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0
1,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0
2,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0
3,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0
4,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0
...,...,...,...,...,...,...
1032340,0440400988,There's a Bat in Bunk Five,Paula Danziger,http://images.amazon.com/images/P/0440400988.0...,276463.0,7.0
1032341,0525447644,From One to One Hundred,Teri Sloat,http://images.amazon.com/images/P/0525447644.0...,276579.0,4.0
1032342,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,http://images.amazon.com/images/P/006008667X.0...,276680.0,0.0
1032343,0192126040,Republic (World's Classics),Plato,http://images.amazon.com/images/P/0192126040.0...,276680.0,0.0
1032344,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,http://images.amazon.com/images/P/0767409752.0...,276680.0,0.0

In [5]:
df = df.drop_duplicates()

In [6]:
df = df.dropna()
df

,ISBN,Book-Title,Book-Author,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0
1,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0
2,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0
3,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0
4,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0
...,...,...,...,...,...,...
1032340,0440400988,There's a Bat in Bunk Five,Paula Danziger,http://images.amazon.com/images/P/0440400988.0...,276463.0,7.0
1032341,0525447644,From One to One Hundred,Teri Sloat,http://images.amazon.com/images/P/0525447644.0...,276579.0,4.0
1032342,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,http://images.amazon.com/images/P/006008667X.0...,276680.0,0.0
1032343,0192126040,Republic (World's Classics),Plato,http://images.amazon.com/images/P/0192126040.0...,276680.0,0.0
1032344,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,http://images.amazon.com/images/P/0767409752.0...,276680.0,0.0

In [7]:
df['User-ID'].value_counts()

11676.0     11144
198711.0     6456
153662.0     5814
98391.0      5779
35859.0      5646
            ...
51911.0         1
151772.0        1
158802.0        1
243672.0        1
259920.0        1
Name: User-ID, Length: 92106, dtype: int64

In [8]:
x = df['User-ID'].value_counts()>200
x

11676.0      True
198711.0     True
153662.0     True
98391.0      True
35859.0      True
            ...
51911.0     False
151772.0    False
158802.0    False
243672.0    False
259920.0    False
Name: User-ID, Length: 92106, dtype: bool

In [9]:
y = x[x].index
y

Float64Index([ 11676.0, 198711.0, 153662.0,  98391.0,  35859.0, 212898.0,
              278418.0,  76352.0, 110973.0, 235105.0,
              ...
              196047.0, 240567.0, 142093.0, 207782.0, 178199.0, 246311.0,
              164323.0, 201783.0, 214272.0, 269890.0],
             dtype='float64', length=811)

In [10]:
# we only take the users who have got valid knowledge of books .So we limit down the no of users to 811
df = df[df['User-ID'].isin(y)]
df

,ISBN,Book-Title,Book-Author,Image-URL-L,User-ID,Book-Rating
3,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0
6,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,85526.0,0.0
7,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,96054.0,0.0
10,0002005018,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...,177458.0,0.0
21,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,http://images.amazon.com/images/P/0374157065.0...,110912.0,10.0
...,...,...,...,...,...,...
1032333,0231128444,Slow Food(The Case For Taste),Carlo Petrini,http://images.amazon.com/images/P/0231128444.0...,275970.0,0.0
1032334,0520242335,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,http://images.amazon.com/images/P/0520242335.0...,275970.0,0.0
1032335,0762412119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,http://images.amazon.com/images/P/0762412119.0...,275970.0,0.0
1032336,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",http://images.amazon.com/images/P/1582380805.0...,275970.0,0.0
1032337,1845170423,Cocktail Classics,David Biggs,http://images.amazon.com/images/P/1845170423.0...,275970.0,7.0

In [11]:
# We are only taking books with 50+ users rating for its validity
x = df['Book-Title'].value_counts()>50
x

Wild Animus                                            True
Bridget Jones's Diary                                  True
The Lovely Bones: A Novel                              True
The Notebook                                           True
The Pelican Brief                                      True
                                                      ...
The Devil's Apprentice: A Novel                       False
Better Than Sex: A Mystery Featuring Anneke Haagen    False
Une Peine D'exception                                 False
Waiting for Lindsay                                   False
Cocktail Classics                                     False
Name: Book-Title, Length: 155843, dtype: bool

In [12]:
a = x[x].index
a

Index(['Wild Animus', 'Bridget Jones's Diary', 'The Lovely Bones: A Novel',
       'The Notebook', 'The Pelican Brief',
       'Divine Secrets of the Ya-Ya Sisterhood: A Novel', 'A Painted House',
       'The Nanny Diaries: A Novel', 'The Firm', 'The Da Vinci Code',
       ...
       'Prime Cut', 'The Eight', 'Eyes of a Child',
       'Dr. Atkins' New Diet Revolution',
       'Beloved (Plume Contemporary Fiction)', 'The Valley of Horses',
       'Bridge to Terabithia', 'Harvest', 'Now You See Her',
       'Engaging The Enemy'],
      dtype='object', length=679)

In [13]:
df = df[df['Book-Title'].isin(a)]

In [14]:
df

,ISBN,Book-Title,Book-Author,Image-URL-L,User-ID,Book-Rating
31,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,11676.0,9.0
33,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,36836.0,0.0
34,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,46398.0,9.0
38,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113270.0,0.0
39,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113519.0,0.0
...,...,...,...,...,...,...
1029536,1878702831,Echoes,Nancy Morse,http://images.amazon.com/images/P/1878702831.0...,238781.0,0.0
1029728,0394429869,I Know Why the Caged Bird Sings,Maya Angelou,http://images.amazon.com/images/P/0394429869.0...,239594.0,8.0
1029730,0449001164,The Promise,CHAIM POTOK,http://images.amazon.com/images/P/0449001164.0...,239594.0,7.0
1029943,0743527631,The Pillars of the Earth,Ken Follett,http://images.amazon.com/images/P/0743527631.0...,240144.0,0.0
1029945,0745168086,The Handmaid's Tale,Margaret Atwood,http://images.amazon.com/images/P/0745168086.0...,240144.0,0.0

In [15]:
df['Book-Title'].value_counts()

Wild Animus                                                330
Bridget Jones's Diary                                      263
The Lovely Bones: A Novel                                  261
The Notebook                                               238
The Pelican Brief                                          229
                                                          ...
Fortune's Rocks: A Novel                                    51
Beloved (Plume Contemporary Fiction)                        51
Eyes of a Child                                             51
Rainbow Six                                                 51
The Killing Game: Only One Can Win...and the Loser Dies     51
Name: Book-Title, Length: 679, dtype: int64

In [16]:
df['Total Votes'] = df.groupby(['Book-Title'])['Book-Rating'].transform('count')

<ipython-input-16-ecaecbf81d71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Votes'] = df.groupby(['Book-Title'])['Book-Rating'].transform('count')

In [17]:
df

,ISBN,Book-Title,Book-Author,Image-URL-L,User-ID,Book-Rating,Total Votes
31,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,11676.0,9.0,109
33,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,36836.0,0.0,109
34,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,46398.0,9.0,109
38,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113270.0,0.0,109
39,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113519.0,0.0,109
...,...,...,...,...,...,...,...
1029536,1878702831,Echoes,Nancy Morse,http://images.amazon.com/images/P/1878702831.0...,238781.0,0.0,54
1029728,0394429869,I Know Why the Caged Bird Sings,Maya Angelou,http://images.amazon.com/images/P/0394429869.0...,239594.0,8.0,80
1029730,0449001164,The Promise,CHAIM POTOK,http://images.amazon.com/images/P/0449001164.0...,239594.0,7.0,62
1029943,0743527631,The Pillars of the Earth,Ken Follett,http://images.amazon.com/images/P/0743527631.0...,240144.0,0.0,82
1029945,0745168086,The Handmaid's Tale,Margaret Atwood,http://images.amazon.com/images/P/0745168086.0...,240144.0,0.0,129

In [18]:
ratings = df.groupby('Book-Title', as_index=False)['Book-Rating'].mean()
ratings['Book-Rating'] = ratings['Book-Rating'].apply(lambda x : round(x, 1))
ratings = ratings.rename(columns = {'Book-Rating': 'Avg_rating'})

In [19]:
ratings

                                            Book-Title  Avg_rating
0                                                 1984         3.2
1                                  1st to Die: A Novel         2.4
2                                           2nd Chance         2.5
3                                            4 Blondes         1.0
4                                   A Bend in the Road         1.6
..                                                 ...         ...
674                                    Year of Wonders         3.1
675                                   You Belong To Me         1.5
676  Zen and the Art of Motorcycle Maintenance: An ...         1.9
677                                               Zoya         1.2
678                                \O\" Is for Outlaw"         2.0

[679 rows x 2 columns]

In [20]:
df['User-ID'] = df['User-ID'].apply(lambda x : int(x))
df.merge(ratings,on = 'Book-Title')

<ipython-input-20-2971f9553a65>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User-ID'] = df['User-ID'].apply(lambda x : int(x))

,ISBN,Book-Title,Book-Author,Image-URL-L,User-ID,Book-Rating,Total Votes,Avg_rating
0,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,11676,9.0,109,1.8
1,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,36836,0.0,109,1.8
2,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,46398,9.0,109,1.8
3,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113270,0.0,109,1.8
4,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113519,0.0,109,1.8
...,...,...,...,...,...,...,...,...
57231,0743418131,Deck the Halls (Holiday Classics),Mary Higgins Clark,http://images.amazon.com/images/P/0743418131.0...,250184,0.0,57,0.5
57232,0743418131,Deck the Halls (Holiday Classics),Mary Higgins Clark,http://images.amazon.com/images/P/0743418131.0...,256407,0.0,57,0.5
57233,0743418131,Deck the Halls (Holiday Classics),Mary Higgins Clark,http://images.amazon.com/images/P/0743418131.0...,261829,0.0,57,0.5
57234,0743418131,Deck the Halls (Holiday Classics),Mary Higgins Clark,http://images.amazon.com/images/P/0743418131.0...,264031,0.0,57,0.5
57235,0743418131,Deck the Halls (Holiday Classics),Mary Higgins Clark,http://images.amazon.com/images/P/0743418131.0...,266226,0.0,57,0.5

In [21]:
from scipy.sparse import csr_matrix

In [22]:
df = df.drop_duplicates(['User-ID','Book-Title'])
df = df.reset_index()
df

,index,ISBN,Book-Title,Book-Author,Image-URL-L,User-ID,Book-Rating,Total Votes
0,31,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,11676,9.0,109
1,33,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,36836,0.0,109
2,34,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,46398,9.0,109
3,38,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113270,0.0,109
4,39,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,113519,0.0,109
...,...,...,...,...,...,...,...,...
55312,1029076,0613032950,Animal Dreams,Barbara Kingsolver,http://images.amazon.com/images/P/0613032950.0...,238120,0.0,57
55313,1029728,0394429869,I Know Why the Caged Bird Sings,Maya Angelou,http://images.amazon.com/images/P/0394429869.0...,239594,8.0,80
55314,1029730,0449001164,The Promise,CHAIM POTOK,http://images.amazon.com/images/P/0449001164.0...,239594,7.0,62
55315,1029943,0743527631,The Pillars of the Earth,Ken Follett,http://images.amazon.com/images/P/0743527631.0...,240144,0.0,82
55316,1029945,0745168086,The Handmaid's Tale,Margaret Atwood,http://images.amazon.com/images/P/0745168086.0...,240144,0.0,129

In [23]:
pivot_table = df.pivot_table(index = 'Book-Title',columns = 'User-ID',values = 'Book-Rating')
pivot_table.shape

(679, 810)

In [24]:
pivot_table.fillna(0 ,inplace = True)

In [25]:
pivot_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [26]:
book_sparse = csr_matrix(pivot_table)
book_sparse

<679x810 sparse matrix of type '<class 'numpy.float64'>'
	with 13655 stored elements in Compressed Sparse Row format>

In [27]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric = 'cosine' ,algorithm='brute',n_neighbors = 6)
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=6)

In [28]:
import numpy as np

In [29]:
def recommend(book):
    n = np.where(pivot_table.index == book)[0][0]
    model.fit(book_sparse)
    distances, suggestions = model.kneighbors(pivot_table.iloc[n, :].values.reshape(1, -1))
   
    for i in range(6):
        print(pivot_table.index[suggestions[0,i]])

In [30]:

recommend('1984')

1984
The Handmaid's Tale
Brave New World
Animal Farm
The Vampire Lestat (Vampire Chronicles, Book II)
Naked

In [31]:
import pickle
pickle.dump(df,open('book_dataset.pkl','wb'))

In [32]:
pickle.dump(pivot_table,open('pivot_table.pkl','wb'))
pickle.dump(ratings,open('ratings.pkl','wb'))
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(book_sparse,open('book_sparse.pkl','wb'))

In [33]:
image_df = df[['Book-Title','Image-URL-L']]
image_df = image_df.drop_duplicates()
image_df

,Book-Title,Image-URL-L
0,The Kitchen God's Wife,http://images.amazon.com/images/P/0399135782.0...
10,The Testament,http://images.amazon.com/images/P/0440234743.0...
131,Beloved (Plume Contemporary Fiction),http://images.amazon.com/images/P/0452264464.0...
182,Wild Animus,http://images.amazon.com/images/P/0971880107.0...
512,Airframe,http://images.amazon.com/images/P/0345402871.0...
...,...,...
55312,Animal Dreams,http://images.amazon.com/images/P/0613032950.0...
55313,I Know Why the Caged Bird Sings,http://images.amazon.com/images/P/0394429869.0...
55314,The Promise,http://images.amazon.com/images/P/0449001164.0...
55315,The Pillars of the Earth,http://images.amazon.com/images/P/0743527631.0...
55316,The Handmaid's Tale,http://images.amazon.com/images/P/0745168086.0...

In [34]:
image_df.drop_duplicates()

,Book-Title,Image-URL-L
0,The Kitchen God's Wife,http://images.amazon.com/images/P/0399135782.0...
10,The Testament,http://images.amazon.com/images/P/0440234743.0...
131,Beloved (Plume Contemporary Fiction),http://images.amazon.com/images/P/0452264464.0...
182,Wild Animus,http://images.amazon.com/images/P/0971880107.0...
512,Airframe,http://images.amazon.com/images/P/0345402871.0...
...,...,...
55312,Animal Dreams,http://images.amazon.com/images/P/0613032950.0...
55313,I Know Why the Caged Bird Sings,http://images.amazon.com/images/P/0394429869.0...
55314,The Promise,http://images.amazon.com/images/P/0449001164.0...
55315,The Pillars of the Earth,http://images.amazon.com/images/P/0743527631.0...
55316,The Handmaid's Tale,http://images.amazon.com/images/P/0745168086.0...

In [35]:
image_df = pickle.dump(image_df,open('book_sparse.pkl','wb'))

In [36]:
author= df[['Book-Title','Book-Author']]
author = author.drop_duplicates()
author

NameError: name 'author_df' is not defined

In [ ]:
author = pickle.dump(author,open('book_sparse.pkl','wb'))